In [7]:
import pandas as pd

df = pd.read_csv('real_estate_listings_clean.csv')
df

,url,energy,heating,price,area,rooms,fee,zipcode,construction_year,level,price_per_area
0,https://www.immowelt.de/expose/29fhx5b,Öl,Zentralheizung,249000.0,64.00,3.0,3.57,13505.0,1971.0,2.0,3890.625000
1,https://www.immowelt.de/expose/29hzk5u,Gas,"Fußbodenheizung, offener",1295000.0,136.06,4.0,3.57,10405.0,1900.0,5.0,9517.859768
2,https://www.immowelt.de/expose/292m95u,Gas,Etagenheizung,770000.0,120.00,4.0,3.57,12161.0,1900.0,5.0,6416.666667
3,https://www.immowelt.de/expose/29sh55u,Gas,Zentralheizung,349000.0,158.00,5.0,3.57,12103.0,1956.0,1.0,2208.860759
4,https://www.immowelt.de/expose/29r5y5t,Gas,Etagenheizung,494990.0,126.00,4.0,3.57,12157.0,1909.0,3.0,3928.492063
...,...,...,...,...,...,...,...,...,...,...,...
4937,https://www.immowelt.de/expose/2gd5v4m,Fernwärme,"Fußbodenheizung,",429000.0,78.00,3.0,3.57,13595.0,2000.0,1.0,5500.000000
4938,https://www.immowelt.de/expose/2ga5t4m,Gas,Zentralheizung,729000.0,150.00,4.0,3.57,13467.0,1990.0,1.0,4860.000000
4939,https://www.immowelt.de/expose/2f79g4a,Gas,Etagenheizung,695600.0,94.00,3.0,3.57,10115.0,1900.0,1.0,7400.000000
4940,https://www.immowelt.de/expose/2ej2m4d,Fernwärme,Minergie zertifiziert,839251.0,107.00,3.0,3.57,13591.0,1894.0,1.0,7843.467290
4941,https://www.immowelt.de/expose/263a44g,Öl,Zentralheizung,220000.0,125.06,3.0,3.57,13591.0,1986.0,2.0,1759.155605

In [8]:
# drop url col

df = df.drop(['url', 'energy', 'heating', 'fee'], axis=1)
df

,price,area,rooms,zipcode,construction_year,level,price_per_area
0,249000.0,64.00,3.0,13505.0,1971.0,2.0,3890.625000
1,1295000.0,136.06,4.0,10405.0,1900.0,5.0,9517.859768
2,770000.0,120.00,4.0,12161.0,1900.0,5.0,6416.666667
3,349000.0,158.00,5.0,12103.0,1956.0,1.0,2208.860759
4,494990.0,126.00,4.0,12157.0,1909.0,3.0,3928.492063
...,...,...,...,...,...,...,...
4937,429000.0,78.00,3.0,13595.0,2000.0,1.0,5500.000000
4938,729000.0,150.00,4.0,13467.0,1990.0,1.0,4860.000000
4939,695600.0,94.00,3.0,10115.0,1900.0,1.0,7400.000000
4940,839251.0,107.00,3.0,13591.0,1894.0,1.0,7843.467290
4941,220000.0,125.06,3.0,13591.0,1986.0,2.0,1759.155605

In [9]:
y = df['price']
X = df.iloc[:,1:-1]
X

        area  rooms  zipcode  construction_year  level
0      64.00    3.0  13505.0             1971.0    2.0
1     136.06    4.0  10405.0             1900.0    5.0
2     120.00    4.0  12161.0             1900.0    5.0
3     158.00    5.0  12103.0             1956.0    1.0
4     126.00    4.0  12157.0             1909.0    3.0
...      ...    ...      ...                ...    ...
4937   78.00    3.0  13595.0             2000.0    1.0
4938  150.00    4.0  13467.0             1990.0    1.0
4939   94.00    3.0  10115.0             1900.0    1.0
4940  107.00    3.0  13591.0             1894.0    1.0
4941  125.06    3.0  13591.0             1986.0    2.0

[4942 rows x 5 columns]

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [11]:
# Import necessary libraries
from sklearn.model_selection import train_test_split


# Perform train-test split (e.g., 70% train, 30% test)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

In [12]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor

# Create a sample dataset
X, y = make_regression(n_samples=1000, n_features=10, noise=0.1, random_state=42)

# Define the models
models = {
    'linear_regression': {
        'model': LinearRegression(),
        'params': {
            'fit_intercept': [True, False],
            'n_jobs': [-1]
        }
    },
    'ridge_regression': {
        'model': Ridge(),
        'params': {
            'alpha': [1, 5, 10, 50, 100],
            'fit_intercept': [True, False],
            'solver': ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga']
        }
    },
    'lasso_regression': {
        'model': Lasso(),
        'params': {
            'alpha': [0.1, 0.5, 1, 5, 10],
            'fit_intercept': [True, False],
            'max_iter': [1000, 2000, 5000],
            'selection': ['cyclic', 'random']
        }
    },
    'xgboost': {
        'model': XGBRegressor(),
        'params': {
            'n_estimators': [50, 100, 200],
            'learning_rate': [0.01, 0.1, 0.2],
            'max_depth': [3, 5, 7, 10],
            'subsample': [0.5, 0.7, 1],
            'colsample_bytree': [0.5, 0.7, 1]
        }
    },
    'random_forest': {
        'model': RandomForestRegressor(),
        'params': {
            'n_estimators': [10, 50, 100, 200],
            'criterion': ['squared_error', 'absolute_error'],
            'max_depth': [None, 5, 10, 15, 20],
            'min_samples_split': [2, 5, 10, 20]
        }
    }
}

# Perform RandomizedSearchCV for each model and store the results
results = []

for model_name, model_info in models.items():
    random_search = RandomizedSearchCV(
        estimator=model_info['model'],
        param_distributions=model_info['params'],
        n_iter=10,
        cv=5,
        scoring='neg_mean_squared_error',
        n_jobs=-1,
        random_state=42
    )
    random_search.fit(X_train, y_train)
    results.append({
        'model': model_name,
        'best_params': random_search.best_params_,
        'best_score': -random_search.best_score_
    })

# Display the results as a pandas DataFrame
results_df = pd.DataFrame(results)
print(results_df)

/Users/mathisjander/opt/anaconda3/envs/real-estate/lib/python3.10/site-packages/sklearn/model_selection/_search.py:305: UserWarning: The total space of parameters 2 is smaller than n_iter=10. Running 2 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

               model                                        best_params
0  linear_regression              {'n_jobs': -1, 'fit_intercept': True}  \
1   ridge_regression  {'solver': 'lsqr', 'fit_intercept': True, 'alp...
2   lasso_regression  {'selection': 'cyclic', 'max_iter': 1000, 'fit...
3            xgboost  {'subsample': 1, 'n_estimators': 100, 'max_dep...
4      random_forest  {'n_estimators': 200, 'min_samples_split': 2, ...

     best_score
0  2.009956e+11
1  1.765159e+11
2  2.008218e+11
3  7.605596e+10
4  8.401392e+10

In [13]:
# create a grid search for the x
from sklearn.model_selection import GridSearchCV

xgb_params = {'n_estimators': [50, 100, 200],
            'learning_rate': [0.01, 0.1, 0.2],
            'max_depth': [3, 5, 7, 10],
            'subsample': [0.5, 0.7, 1],
            'colsample_bytree': [0.5, 0.7, 1]}

grid_search = GridSearchCV(
        estimator=XGBRegressor(),
        param_grid=xgb_params,
        cv=5,
        scoring='neg_mean_squared_error',
        n_jobs=-1
    )
grid_search.fit(X_train, y_train)
-grid_search.best_score_

72224156806.37344

In [14]:
from sklearn.metrics import mean_squared_error

final_model = grid_search.best_estimator_

y_pred = final_model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f'Root Mean Squared Error: {mse**0.5}')

Root Mean Squared Error: 429829.83885360666

In [15]:
print(y_pred[:5]), print(list(y_test)[:5])

[1055758.9   569211.9   612567.5   538391.56  429432.16]
[980000.0, 430000.0, 449850.0, 524250.0, 390000.0]

(None, None)

In [16]:
# pickle final model
import pickle

pickle.dump(final_model, open('app/real_estate_model.pkl', 'wb'))

# pickle the scaler

pickle.dump(scaler, open('app/input_scaler.pkl', 'wb'))

In [22]:
# create shap explainer for prediction
import shap
import matplotlib.pyplot as plt

explainer = shap.TreeExplainer(final_model)
shap_values = explainer.shap_values(X_test)

shap.initjs()

shap.force_plot(
    base_value=explainer.expected_value,
    shap_values=shap_values[0,:],
    features=X_test[0,:],
    feature_names=df.columns[:-1]
)

ntree_limit is deprecated, use `iteration_range` or model slicing instead.
matplotlib is not installed so plotting is not available! Run `pip install matplotlib` to fix this.

In [19]:
df.columns

Index(['price', 'area', 'rooms', 'zipcode', 'construction_year', 'level',
       'price_per_area'],
      dtype='object')